!!! 5
%html
  %head
    %title Product Advertising API用リバースプロキシ
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
    %link{"rel" => "stylesheet", "href" => "/css/rpaproxy.css", "type" => "text/css", "media" => "all"}
    %link{"rel" => "stylesheet", "href" => "/css/smoothness/jquery-ui-1.8.16.custom.css", "type" => "text/css", "media" => "all"}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'}
    %script{src: '/js/rpaproxy.js'}
  %body
    #header-outer
      %a{href: 'https://github.com/tdiary/rpaproxy-sinatra'}
        %img{style: 'position: absolute; top: 0; left: 0; border: 0;', src: "https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png", alt: "Fork me on GitHub"}
      #header
        -if current_user
          = "welcome #{current_user.name}"

        %a{href: '/'} トップページ
        %a{href: '/proxies'} プロキシ一覧

        -if current_user
          %a{href: '/users'} 提供者一覧
          %a{href: '/logs'} ログ
          %a{href: '/stats'} 利用状況
          %a{href: '/profile'} 設定
          %a{href: '/logout'} ログアウト
        -else
          %a{href: '/auth/twitter'}
            %img{src: 'sign-in-with-twitter-l.png', alt: 'Twitterでログイン'}
          -unless settings.environment == :production
            %a{href: '/auth/developer'} ログイン(開発用)

    #content-outer

      %h1
        Product Advertising API用リバースプロキシ

      != yield

    #footer-outer
      #footer
        Presented by
        %a{href: 'http://twitter.com/machu'} @machu
