%html
  %head
    %title Product Advertising API用リバースプロキシ
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
    %link{"rel" => "stylesheet", "href" => "rpaproxy.css", "type" => "text/css", "media" => "all"}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'}
    %script{src: 'rpaproxy.js'}
  %body
    #header-outer
      #header
        -if current_user
          = "welcome #{current_user.name}"
          %a{href: '/'} トップページ
          %a{href: '/profile'} 設定
          %a{href: '/logout'} ログアウト
        -else
          %a{href: '/auth/twitter'}
            %img{src: 'sign-in-with-twitter-l.png', alt: 'Twitterでログイン'}

    #content-outer
  
      %h1
        Product Advertising API用リバースプロキシ
    
      -if flash.has?(:error)
        .error=flash[:error]
  
      -if flash.has?(:notice)
        .notice=flash[:notice]
  
      != yield
  
    #footer-outer
      #footer
        powerd by machu
