body {
	color: #444;
	background: #fff;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

#header, #content-outer, #footer {
	width: 900px;
	margin: 0 auto;
}

#header-outer {
	text-align: right;
	position: fixed;
	width:100%;
	top:0;
	height:40px;
	z-index:999;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
	box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
	background: #7eba03;
}

#footer-outer {
	text-align: right;
	border-top: solid 1px #cccccc;
	margin-top: 10px;
	padding: 1em 0;
	clear: both;
	width: 100%;
	background: #efefef;
}

#header, #header a {
	color: #fef9e8;
	margin-top: 0.5em;
}

#content-outer {
	padding-top: 40px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.notice {
	border: solid 1px #f4c504;
	background-color: #fdf8b0;
	margin: 0.5em;
	padding: 0.5em;
}

.error {
	border: solid 1px #e184a5;
	background-color: #feefef;
	margin: 0.5em;
	padding: 0.5em;
}

h1, h2, h3, h4 {
	color: #333;
}

p {
	margin: 0.5em;
}

pre {
	border: solid 1px #999;
	margin: 0.5em;
	padding: 10px;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.endpoint {
	border: solid 1px #15aecb;
	background-color: #ecfef5;
	margin: 0.5em;
	padding: 0.5em;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
	box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
